* {
    margin: 0;
}

body {
    font-size: 12px;
}

#header{
    width: 1440px;
    height: 750px;
    background-color: #F0F0F0;
    display: grid;
    grid-template-columns: 25% 25% 27% 23%;  
}

.desc {
    display: grid;
    grid-template-rows: 6% 70% 12% 12%;
}

.desc-1 {
    background-color: #fff;
    width: auto;
    height: auto;
}

img {
    width: 50%;
}